<?= $this->render('sidemenu/purchase.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#purchase_date").datepicker({dateFormat: 'yy-mm-dd'});

        $('#material_table input').on('input', function() {
            var $tr = $(this).closest('tr'); // get tr which contains the input
            var tot = 0; // variable to sore sum
            var pr = Number($('input.price-tr', $tr).val()) || 0; // get price
            var qty = Number($('input.qty-tr', $tr).val()) || 0; // get price

            $('input.total-tr', $tr).val(qty*pr); // update last column value
            
        }).trigger('input'); // trigger input to set initial value in column

    });
    
    function sum() {
        var i;
        var sum = parseInt(0);
        <?php if( count($this->models) ) :?>
        <?php foreach($this->models as $model) : ?>
            sum = sum + parseInt(document.getElementById("quantity_"+<?=$model['id']?>).value);
        <?php endforeach; ?>
        <?php endif; ?>
        document.getElementById("quantity").value = sum;
    }

    function openPopup() {
        window.open("/manager/purchase-popup/list",null,'width=800, height=500, menubar=no, toolbar=no, scrollbars=yes');
    }
    
    function openPopupMaterial() {
        window.open("/manager/purchase-popup/material",null,'width=800, height=500, menubar=no, toolbar=no, scrollbars=yes');
    }
    
    function doDelete() {
      document.form2.action = "/manager/purchase/create?delete=1";
      document.form2.submit();
    }
    
    function doDelete2($id) {
      document.getElementById("material_"+$id).remove();
    }
    
//-->
</script>
    
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>
    <?=$this->tes?>
    <form name="form2" method="post" enctype="multipart/form-data" action="/manager/purchase/create">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="40%" class="color2">Order</td>
          <td width="60%" class="color_gray">
            <?= my_mb_error($this->error_str, 'order') ?>
              <table width="100%" border="0" cellpadding="5">
                <tr align="center">
                  <td class="color">Order No.</td>
                  <td class="color">Quantity</td>
                  <td class="color">Project</td>
                  <td class="color">Article</td>
                  <td class="color">Delete</td>
                </tr>
              <?php if(count($this->order_list)) : ?>
                <tr>
                  <td align="center"><?= $this->order_list['order_no'] ?></td>
                  <td align="center"><?= number_format($this->order_list['quantity']) ?></td>
                  <td align="center"><?= h($this->order_list['project']) ?></td>
                  <td align="center"><?= $this->order_list['article'] ?></td>
                  <td align="center"><input type="button" onclick="doDelete();" name="delete" class="input_b1" value="Delete"></td>
                </tr>
              <?php endif; ?>
                <tr>
                  <td align="center" colspan="5">
                    <input type="button" onclick="openPopup();" class="input_b2" value="Choose Order">
                  </td>
                </tr>
              </table>
          </td>
        </tr>
        <tr>
          <td width="20%" class="color2">Purchase No</td>
          <td width="80%" class="color_gray">
            <?= my_mb_error($this->error_str, 'purchase_no') ?>
            <?= $this->form->getElement('purchase_no') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Purchase Date</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'purchase_date') ?>
            <?= $this->form->getElement('purchase_date') ?>※YYYY-MM-DD
          </td>
        </tr>
        <tr>
          <td class="color2">Purchase Type</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'purchase_type') ?>
            <?= $this->form->getElement('purchase_type') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Description</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'description') ?>
            <?= $this->form->getElement('description') ?>
          </td>
        </tr>
        <tr>
          <td width="40%" class="color2">Material</td>
          <td width="60%" class="color_gray">
            <?= my_mb_error($this->error_str, 'material') ?>
            <input type="button" onclick="openPopupMaterial();" class="input_b2" value="Choose Material">
          </td>
        </tr>
        <tr>
          <td width="100%" class="color_gray" colspan="2">
            <?= my_mb_error($this->error_str, 'material') ?>
              <table width="100%" border="0" cellpadding="5" id="material_table">
                <tr align="center">
                  <td class="color">Part No.</td>
                  <td class="color">Material Name</td>
                  <td class="color">Jumlah</td>
                  <td class="color">Satuan</td>
                  <td class="color">Harga</td>
                  <td class="color">Total</td>
                  <td class="color">Delete</td>
                </tr>
              <?php if(count($this->material_list)) : ?>
                <?php foreach( $this->material_list as $material_list ) : ?>
                <tr id="material_<?=$material_list['id']?>">
                  <td align="center"><?= $material_list['part_no'] ?></td>
                  <td align="center"><?= h($material_list['material_desc']) ?></td>
                  <td align="center">
                    <input class="number-only qty-tr" name="qty[]" value=""/>
                    <input type="hidden" name="material_id[]" value="<?= $material_list['id'] ?>" />
                  </td>
                  <td align="center"><input class="number-only" name="bom[]" value="<?= $material_list['bom'] ?>" readonly /></td>
                  <td align="center"><input class="number-only price-tr" name="price[]" value="<?= $material_list['price'] ?>"/></td>
                  <td align="left"><input class="number-only total-tr" name="total" value="" readonly="" /></td>
                  <td align="center"><input type="button" onclick="doDelete2(<?=$material_list['id']?>);" name="delete" class="input_b1" value="Delete"></td>
                </tr>
                <?php endforeach; ?>
              <?php endif; ?>
              </table>
          </td>
        </tr>
        <tr>
          <td class="color2">Total</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'total') ?>
            <?= $this->form->getElement('total') ?>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="button" class="input_b2" value="Back" onClick="javascript:window.location='/manager/<?= $this->class_name ?>/goback-list';" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="confirm" class="input_b2" value="Create" /></td>
        </tr>
      </table>
    </form>

  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
