<?= $this->render('sidemenu/recap.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#invoice_date_start").datepicker({dateFormat: 'yy-mm-dd'});
        $("#invoice_date_end").datepicker({dateFormat: 'yy-mm-dd'});
        $("#due_date_start").datepicker({dateFormat: 'yy-mm-dd'});
        $("#due_date_end").datepicker({dateFormat: 'yy-mm-dd'});
    });
//-->
</script>

<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>

    <!--検索フォーム-->
    <div class="contents_space">
      <form name="form2" method="post" action="/manager/recap/delivery">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="30%" class="color2">ID</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">ID (Interval)</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id_start') ?> - <?= $this->form->getElement('id_end') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Invoice No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('invoice_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Delivery No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('delivery_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Order No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('order_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Article</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('article') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Project</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('project') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Status</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('status') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Delivery Date</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('invoice_date_start') ?> - <?= $this->form->getElement('invoice_date_end') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Order By</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('order_by') ?>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <input type="submit" class="input_b2" name="search" value="Search" />&nbsp;&nbsp;
            <input type="submit" class="input_b2" name="clear" value="Clear" />
          </td>
        </tr>
      </table>
      </form>

      <!--ページャ
      <form name="form1" method="post" action="/manager/recap/delivery">
      <?//= $this->render('pager.html') ?>
      </form>
        -->
      <!--一覧-->
      <table width="100%" border="0" cellpadding="5">
        <thead>
          <tr align="center">
            <td class="color">No.</td>
            <td class="color">ID</td>
            <td class="color">Delivery No.</td>
            <td class="color">Delivery Date</td>
            <td class="color">Status</td>
            <td class="color">Order No.</td>
            <td class="color">Project</td>
            <td class="color">Article</td>		 
            <td class="color">Price (Rp)</td> 
            <td class="color">Qty (Prs)</td>
            <td class="color">Total (Rp)</td>
            <td class="color">Total inc Tax (Rp)</td>
          </tr>
        </thead>
        <tbody>
        <?php 
          $i=1;
          $sum_total = 0;
          $sum_total_inc_tax = 0;
          foreach ($this->models as $model) : 
            $total = $model['quantity']*$model['order']['price'];
            $total_inc_tax = $total + ($total*0.1);

            $sum_total += $total;
            $sum_total_inc_tax += $total_inc_tax;
        ?>
          <tr>
            <td align="center"><?= $i++ ?></td>
            <td align="center"><?= $model['id'] ?></td>
            <td align="left">
              <a href="/manager/invoice/edit/id/<?= $model['id'] ?>"><?= $model['delivery_no'] ?></a>
            </td>
            <td align="center"><?= $model['delivery_date'] ?></td>
            <td align="left"><?= $model['disp_status'] ?></td>
            <td align="left">
              <a href="/manager/order/edit/id/<?=$model['order_id']?>"><?= $model['order']['order_no'] ?></a>
            </td>
            <td align="left"><?= h($model['product']['project']) ?></td>
            <td align="left"><?= $model['product']['article'] ?></td>
            <td align="right"><?= number_format($model['order']['price']) ?></td>
            <td align="right"><?= number_format($model['quantity']) ?></td>
            <td align="right"><?= number_format($total) ?></td>
            <td align="right"><?= number_format($total_inc_tax) ?></td>
            </td>
          </tr>
        <?php endforeach ; ?>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9" align="center">TOTAL</td>
            <td align="right"><?= number_format($this->total) ?></td>
            <td align="right"><?= number_format($sum_total) ?></td>
            <td align="right"><?= number_format($sum_total_inc_tax) ?></td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
