<?= $this->render('sidemenu/product.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#delivery_plan_date").datepicker({dateFormat: 'yy-mm-dd'});

        $('#material_table input').on('input', function() {
            var $tr = $(this).closest('tr'); // get tr which contains the input
            var tot = 0; // variable to sore sum
            var pr = Number($('input.price-tr', $tr).val()) || 0; // get price
            var qty = Number($('input.qty-tr', $tr).val()) || 0; // get price

            $('input.total-tr', $tr).val(qty*pr); // update last column value
            
        }).trigger('input'); // trigger input to set initial value in column

    });
    
    function sum() {
        var i;
        var sum = parseInt(0);
        <?php if( count($this->models) ) :?>
        <?php foreach($this->models as $model) : ?>
            sum = sum + parseInt(document.getElementById("quantity_"+<?=$model['id']?>).value);
        <?php endforeach; ?>
        <?php endif; ?>
        document.getElementById("quantity").value = sum;
    }

    function openPopupOrder() {
        window.open("/manager/delivery-plan-popup",null,'width=800, height=500, menubar=no, toolbar=no, scrollbars=yes');
    }
    
    function doDelete($id) {
      document.getElementById("order_"+$id).remove();
    }
    
//-->
</script>
    
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>
    <?=$this->tes?>
    <form name="form2" method="post" enctype="multipart/form-data" action="/manager/delivery-plan/create">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td class="color2">Delivery Plan Date</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'delivery_plan_date') ?>
            <?= $this->form->getElement('delivery_plan_date') ?>※YYYY-MM-DD
          </td>
        </tr>
        <tr>
          <td width="40%" class="color2">Order</td>
          <td width="60%" class="color_gray">
            <?= my_mb_error($this->error_str, 'order') ?>
            <input type="button" onclick="openPopupOrder();" class="input_b2" value="Choose Order">
          </td>
        </tr>
        <tr>
          <td width="100%" class="color_gray" colspan="2">
            <?= my_mb_error($this->error_str, 'order') ?>
              <table width="100%" border="0" cellpadding="5" id="order_table">
                <tr align="center">
                  <td class="color">No.</td>
                  <td class="color">Plan</td>
                  <td class="color">Order No.</td>
                  <td class="color">Project</td>
                  <td class="color">Article</td>
                  <td class="color">Total (Prs)</td>
                  <td class="color">Delivery (Prs)</td>
                  <td class="color">Outstanding(Prs)</td>
                  <td class="color">Delete</td>
                </tr>
              <?php $total_po = 0; ?>
              <?php $total_delivery = 0; ?>
              <?php $total_outstanding = 0; ?>
              <?php if(count($this->order_list)) : ?>
                <?php $no = 1; ?>
                <?php foreach( $this->order_list as $model ) : ?>
                <tr id="order_<?=$model['id']?>">
                  <td align="center"><?= $no++ ?></td>
                  <td align="center"><?= $model['plan'] ?></td>
                  <td align="center"><?= $model['order_no'] ?></td>
                  <td align="center"><?= $model['project'] ?></td>
                  <td align="left"><?= $model['article'] ?></td>
                  <td align="right"><?= number_format($model['quantity']) ?></td>
                  <td align="right"><?= number_format($model['delivery']) ?></td>
                  <td align="right"><?= number_format($model['outstanding']) ?></td>
                  <td align="center">
                    <input type="button" onclick="doDelete(<?=$model['id']?>);" name="delete" class="input_b1" value="Delete">
                    <input type="hidden" name="order_id[]" value="<?= $model['id'] ?>">
                  </td>
                </tr>
                <?php $total_po += $model['quantity']; ?>
                <?php $total_delivery += $model['delivery']; ?>
                <?php $total_outstanding += $model['outstanding']; ?>
                <?php endforeach; ?>
              <?php endif; ?>
                <tr>
                  <td class="color2" colspan="5">Total</td>
                  <td class="color_gray total_qty" align="right"><?= number_format($total_po) ?></td>
                  <td class="color_gray total_delivery" align="right"><?= number_format($total_delivery) ?></td>
                  <td class="color_gray total_outstanding" align="right"><?= number_format($total_outstanding) ?></td>
                </tr>
              </table>
          </td>
        </tr>
        <tr>
          <td class="color2">Total</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'total') ?>
            <?= $this->form->getElement('total') ?>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="button" class="input_b2" value="Back" onClick="javascript:window.location='/manager/<?= $this->class_name ?>/goback-list';" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="confirm" class="input_b2" value="Create" /></td>
        </tr>
      </table>
    </form>

  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
