<?= $this->render('sidemenu/purchase.html') ?>

<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
			<?= $this->subtitle ?>
    </div>

    <form name="form2" method="post" enctype="multipart/form-data" action="/manager/material/edit/id/<?= $this->model['id'] ?>">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="20%" class="color2">ID</td>
          <td width="80%" class="color_gray"><?= $this->model['id'] ?></td>
        </tr>
        <tr>
          <td class="color2">Part No.</td>
          <td class="color_gray">
            <?php if (isset($this->error_str['part_no'])) : ?><font color="#FF0000"><?= $this->error_str['part_no'] ?></font><br><?php endif ?>
            <?= $this->form->getElement('part_no') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Material Desc</td>
          <td class="color_gray">
            <?php if (isset($this->error_str['material_desc'])) : ?><font color="#FF0000"><?= $this->error_str['material_desc'] ?></font><br><?php endif ?>
            <?= $this->form->getElement('material_desc') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">BOM</td>
          <td class="color_gray">
            <?php if (isset($this->error_str['bom'])) : ?><font color="#FF0000"><?= $this->error_str['bom'] ?></font><br><?php endif ?>
            <?= $this->form->getElement('bom') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Price</td>
          <td class="color_gray">
            <?php if (isset($this->error_str['price'])) : ?><font color="#FF0000"><?= $this->error_str['price'] ?></font><br><?php endif ?>
            <?= $this->form->getElement('price') ?> 
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="button" class="input_b2" value="Back" onClick="javascript:window.location='/manager/<?= $this->class_name ?>/goback-list';" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" class="input_b2" name="confirm" value="Submit" /></td>
        </tr>
      </table>
    </form>

  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
