<?= $this->render('sidemenu/purchase.html') ?>
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
			<?= $this->subtitle ?>
    </div>

    <!--検索フォーム-->
    <div class="contents_space">
      <form name="form2" method="post" action="/manager/material/list">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="30%" class="color2">ID</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Part No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('part_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Material Desc</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('material_desc') ?>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <input type="submit" class="input_b2" name="search" value="Search" />&nbsp;&nbsp;
            <!--input type="submit" class="input_b2" name="csv" value="CSVダウンロード" />&nbsp;&nbsp;-->
            <input type="submit" class="input_b2" name="clear" value="Clear" />
          </td>
        </tr>
      </table>
      </form>

      <!--ページャ-->
      <form name="form1" method="post" action="/manager/material/list">
      <?= $this->render('pager.html') ?>
      </form>

      <!--一覧-->
      <table width="100%" border="0" cellpadding="5">
        <tr align="center">
          <td class="color">ID</td>
          <td class="color">Part No.</td>
          <td class="color">Material Desc.</td>
          <td class="color">Price</td>
          <td class="color">BOM</td>
          <td class="color">Edit</td>
          <td class="color">Delete</td>
        </tr>
<?php foreach ($this->models as $model) : ?>
        <tr>
          <td align="center"><?= $model['id'] ?></td>
          <td align="left"><?= $model['part_no'] ?></td>
          <td align="left"><?= $model['material_desc'] ?></td>
          <td align="left"><?= number_format($model['price']) ?></td>
          <td align="left"><?= $model['bom'] ?></td>
          <td align="center"><a href="/manager/material/edit/id/<?= $model['id'] ?>">Edit</a></td>
          <td align="center">
          <a href="#" onClick="confirmDelete('/manager/material/delete/id/<?= $model['id'] ?>');return false;">Delete</a>
          </td>
        </tr>
<?php endforeach ; ?>
      </table>

    </div>
  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
