<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Citra Jaya Mandiri</title>
<meta content="en-us" http-equiv="Content-Language" />
<style type="text/css">
.auto-style1 {
    font-family: Calibri;
    font-size: 36pt;
}
.auto-style2 {
    font-size: 15pt;
}
.auto-style3 {
    text-decoration: underline;
}
.auto-style4 {
    font-size: 9pt;
}
.auto-style5 {
    text-transform:capitalize
}
</style>
</head>

<body>
<table width="600" align="center">
    <tr>
        <td align="center" colspan="2">CITRA JAYA MANDIRI</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>Jl. Pengadegan Selatan Raya No.48<br/>Jakarta, 12770<br/>Phone : 021 - 7974430<br/>
        cv_citrajayamandiri@yahoo.com</td>
        <td>Kepada Yth,<br/>PT. Sepatu Bata, Tbk.<br/>Jl. RA. Kartini Kav. No. 28<br/>
        Phone : 021 - 750 5353</td>
    </tr>
    <tr>
        <td style="height: 5px"></td>
        <td style="height: 5px"></td>
    </tr>
    <tr>
        <td>Invoice No. : FKT001/CJM/14</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">
        <table border="1" cellpadding="1" cellspacing="0">
            <tr>
                <td>Tanggal Kirim : 19 May 2014</td>
                <td colspan="3">Tanggal Jatuh Tempo : 19 Jul 2014</td>
            </tr>
            <tr>
                <td width="300">Deskripsi Barang</td>
                <td width="100" align="center">Banyaknya</td>
                <td width="100" align="center">Harga</td>
                <td width="100" align="center">Jumlah Rp</td>
            </tr>
            <tr>
                <td>POLYBAG BATA KORK PERU</td>
                <td align="right">6,000 pcs</td>
                <td align="right">1,750</td>
                <td align="right">10,500,000</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="auto-style2">&nbsp;</td>
            </tr>
            <tr>
                <td>SJ No. : 514</td>
                <td>&nbsp;</td>
                <td>Discount</td>
                <td align="right">0</td>
            </tr>
            <tr>
                <td>PO No. : 52343</td>
                <td>&nbsp;</td>
                <td>PPN 10%</td>
                <td align="right">0</td>
            </tr>
            <tr>
                <td colspan="3" align="center">JUMLAH</td>
                <td align="right">10,500,000</td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td style="height: 25px"></td>
        <td style="height: 25px"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td align="center"><span class="auto-style3"><br/><br/>Titin Muslimah</span><br/>
        Pemilik</td>
    </tr>
</table>

<br/><br/><br/><br/>

<table border="1" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="400" class="auto-style1">KWITANSI</td>
                    <td width="150" valign="bottom" align="right">
                        <table border="1" cellpadding="5" cellspacing="0">
                            <tr><td>No : 
                            001/CJM/14/KWT
                            </td></tr>
                        </table>
                    </td>
                    <td width="30" style="height: 63px"></td>
                </tr>
                <tr>
                    <td colspan="2"><hr/>
                    <table>
                        <tr>
                            <td width="130">Sudah Terima Dari</td>
                            <td width="10">:</td>
                            <td width="500">PT. SEPATU BATA, Tbk.</td>
                        </tr>
                        <tr>
                            <td>Banyaknya Uang</td>
                            <td>:</td>
                            <td rowspan="2" valign="top" class="auto-style5">
                            Sepuluh Juta Lima Ratus Ribu Rupiah
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td>Untuk Pembayaran</td>
                            <td>:</td>
                            <td>Invoice No. FKT001/CJM/14</td>
                        </tr>
                    </table>
                    <hr/></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        <table bgcolor="#F3F3F3" cellpadding="5" cellspacing="0">
                            <tr><td>
                                <strong>Rp. 10,500,000.-</strong>
                            </td></tr>
                        </table>
                    </td>
                    <td valign="bottom" align="center">Jakarta, 
                        19 May 2014
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3" height="10"></td></tr>
                <tr>
                    <td class="auto-style4">Catatan :<br/>
                    - Mohon pembayaran ditransfer ke rekening bank berikut ini :<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    BNI Cabang Tebet<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    A/C : 0135006044 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    a.n.  TITIN MUSLIMAH<br/>
                    - Pembayaran baru dianggap sah setelah cek/giro telah dicairkan
                    </td>
                    <td align="center" valign="bottom" height="120">
                    <span class="auto-style3">Titin Muslimah</span><br/>
                    Citra Jaya Mandiri
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>