<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title><?= $this->rs["invoice_no1"] ?></title>
<meta content="en-us" http-equiv="Content-Language" />
<script src="/js/jquery.min.js" type="text/javascript"></script>
<style type="text/css">
.auto-style1 {
    font-family: Calibri;
    font-size: 36pt;
}
.auto-style2 {
    font-size: 15pt;
}
.auto-style3 {
    text-decoration: underline;
}
.auto-style4 {
    font-size: 9pt;
}
.auto-style5 {
    text-transform:capitalize
}
</style>
<script>
$(document).ready(function(){
     window.print();
});
</script>
</head>

<body>
<table border="1" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="400" class="auto-style1">KWITANSI</td>
                    <td width="150" valign="bottom" align="right">
                        <table border="1" cellpadding="5" cellspacing="0">
                            <tr><td>
                            <!-- GANTI BAGIAN DIBAWAH SINI !! -->
                            No : 002/CJM-I/21
                            </td></tr>
                        </table>
                    </td>
                    <td width="30" style="height: 63px"></td>
                </tr>
                <tr>
                    <td colspan="2"><hr/>
                    <table>
                        <tr>
                            <td width="130">Sudah Terima Dari</td>
                            <td width="10">:</td>
                            <td width="500">PT. SEPATU BATA, Tbk.</td>
                        </tr>
                        <tr>
                            <td>Banyaknya Uang</td>
                            <td>:</td>
                            <td rowspan="2" valign="top" class="auto-style5">
                            <!-- GANTI BAGIAN DIBAWAH SINI !! -->
                            Dua Ratus Empat Puluh Empat Juta Seratus Tiga Puluh Satu Ribu Tujuh Ratus Rupiah
                            </td>
                          </tr>
                          
                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                        <tr>
                            <td>Invoice No.</td>
                            <td>:</td>
                            <td>
                            <!-- GANTI BAGIAN DIBAWAH SINI !! -->
                            FK012 - FK028
                            </td>
                        </tr>
                    </table>
                    <hr/></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="auto-style2">
                        <table bgcolor="#F3F3F3" cellpadding="5" cellspacing="0">
                            <tr><td>
                                <strong>
                                <!-- GANTI BAGIAN DIBAWAH SINI !! -->
                                Rp.    244,131,700,-  

                                </strong>
                            </td></tr>
                        </table>
                    </td>
                    <td valign="bottom" align="center">Jakarta, 
                        <!-- GANTI BAGIAN DIBAWAH SINI !! -->
                        05- 01 - 2021
                    </td>
                    <td></td>
                </tr>
                <tr><td colspan="3" height="10"></td></tr>
                <tr>
                    <td class="auto-style4">Catatan :<br/>
                    - Mohon pembayaran ditransfer ke rekening bank berikut ini :<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Bank BNI Cabang Tebet<br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    A/C : 021.7279.420 <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    a.n.  CV. Citra Jaya Mandiri<br/>
                    - Pembayaran baru dianggap sah setelah cek/giro telah dicairkan
                    </td>
                    <td align="center" valign="bottom" height="120">
                    <span class="auto-style3">Titin Muslimah</span><br/>
                    Citra Jaya Mandiri
                    </td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>