<?= $this->render('sidemenu/recap.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#create_date_start").datepicker({dateFormat: 'yy-mm-dd'});
        $("#create_date_end").datepicker({dateFormat: 'yy-mm-dd'});
    });
//-->
</script>
    
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>

    <!--検索フォーム-->
    <div class="contents_space">
      <form name="form2" method="post" action="/manager/recap-order/index">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="30%" class="color2">ID</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Order No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('order_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Article</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('article') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Project</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('project') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Plan</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('plan') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Status</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('status_flag') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Payment Status</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('payment_flag') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Document Status</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('document_flag') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Update Date</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('create_date_start') ?> - <?= $this->form->getElement('create_date_end') ?>※YYYY-MM-DD
          </td>
        </tr>
        <tr>
          <td class="color2">Order By</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('order_by') ?>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <input type="submit" class="input_b2" name="search" value="Search" />&nbsp;&nbsp;
            <input type="submit" class="input_b2" name="clear" value="Clear" />
          </td>
        </tr>
      </table>
      </form>

      <!--ページャ-->
      <!-- <form name="form1" method="post" action="/manager/recap-order/index"> -->
      <?php //echo $this->render('pager.html') ?>
      <!-- </form> -->

      <!--一覧-->
      <table width="100%" border="0" cellpadding="5">
        <tr align="center">
          <td class="color">ID</td>
          <td class="color">Order No.</td>
          <td class="color">Project</td>
          <td class="color">Article</td>
          <td class="color">Plan</td>
          <td class="color">Status</td>
          <td class="color">Update Date</td>
          <td class="color">Quantity (Ps)</td>
          <td class="color">Delivery (Ps)</td>
          <td class="color">Outstanding (Ps)</td>
        </tr>
<?php 
    $i = 1;
    $total_qty = 0;
    $total_deliv = 0;
    $total_outs = 0;
    foreach ($this->models as $model) : 
        $total_qty += $model['quantity'];
        $total_deliv += $model['qty_deliv'];
        $total_outs += ($model['quantity']-$model['qty_deliv']);
?>
          <tr>
          <td align="left"><?= $i++ ?></td>
          <td align="left"><a href="/manager/order/detail/id/<?= $model['id'] ?>"><?= $model['order_no'] ?></a></td>
          <td align="left"><a href="/manager/product/edit/id/<?= $model['product_id'] ?>"><?= ($model['product']['project']) ?></a></td>
          <td align="left"><?= $model['product']['article'] ?></td>
          <td align="left"><?= $model['plan'] ?></td>
          <td align="left"><?= $model['disp_status'] ?></td>
          <td align="left"><?= date("Y-m-d", strtotime($model['update_date'])) ?></td>
          <td align="right"><?= number_format($model['quantity']) ?></td>
          <td align="right"><?= number_format($model['qty_deliv']) ?></td>
          <td align="right"><?= number_format($model['quantity']-$model['qty_deliv']) ?></td>
        </tr>
<?php endforeach ; ?>
        <tr>
          <td colspan="7" align="center" style="border-top: solid 1px #000000">TOTAL</td>
          <td align="right" style="border-top: solid 1px #000000"><?= number_format($total_qty) ?></td>
          <td align="right" style="border-top: solid 1px #000000"><?= number_format($total_deliv) ?></td>
          <td align="right" style="border-top: solid 1px #000000"><?= number_format($total_outs) ?></td>
        </tr>
      </table>

    </div>
  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
