<!--サイドメニュー-->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
      <li><a href="/manager/invoice/list">Invoice List</a></li>
      <li><a href="/manager/invoice/create">Invoice Create</a></li>
      <li><a href="/manager/receipt/list">Receipt List</a></li>
      <li><a href="/manager/receipt/create">Receipt Create</a></li>
      <li><a href="/manager/payment/list">Payment List</a></li>
      <li><a href="/manager/payment/create">Payment Create</a></li>
    </ul>
  </div>
</div>
<!--サイドメニュー終-->
