<!--サイドメニュー-->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
      <li><a href="/manager/product/list">Product List</a></li>
      <li><a href="/manager/product/create">Product Create</a></li>
      <li><a href="/manager/order/list">Order List</a></li>
      <li><a href="/manager/order/create">Order Create</a></li>
      <li><a href="/manager/delivery/list">Delivery List</a></li>
      <li><a href="/manager/delivery/create">Delivery Create</a></li>
      <li><a href="/manager/outstanding/list">Outstanding List</a></li>
      <li><a href="/manager/delivery-plan/list">Delivery Plan List</a></li>
      <li><a href="/manager/delivery-plan/create">Delivery Plan Create</a></li>
    </ul>
  </div>
</div>
<!--サイドメニュー終-->
