<!--サイドメニュー-->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
      <li><a href="/manager/purchase/list">Purchase List</a></li>
      <li><a href="/manager/purchase/create">Purchase Create</a></li>
      <li><a href="/manager/material/list">Material List</a></li>
      <li><a href="/manager/material/create">Material Create</a></li>
      <li><a href="/manager/purchase-order/list">Purchase Order List</a></li>
      <li><a href="/manager/purchase-order/create">Purchase Order Create</a></li>
    </ul>
  </div>
</div>
<!--サイドメニュー終-->
