<!--サイドメニュー-->
<div id="side_menu">
  <div id="side_menu_in">
    <ul>
      <li><a href="/manager/news/list">お知らせ一覧</a></li>
      <li><a href="/manager/news/create">お知らせ新規登録</a></li>
      <!-- 
	  <li><a href="/manager/notify/list">プッシュ通知一覧</a></li>
      <li><a href="/manager/notify/create">プッシュ通知新規登録</a></li>
      -->
      <li><a href="/manager/admin/list">管理者一覧</a></li>
      <li><a href="/manager/admin/create">管理者新規登録</a></li>
      <li><a href="/manager/report/list">通報一覧</a></li>
    </ul>
  </div>
</div>
<!--サイドメニュー終-->
