<?= $this->render('sidemenu/finance.html') ?>
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>

    <!--検索フォーム-->
    <div class="contents_space">
      <form name="form2" method="post" action="/manager/receipt/list">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="30%" class="color2">ID</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Receipt No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('receipt_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Invoice No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('invoice_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Receipt Date</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('receipt_date_start') ?> ~ <?= $this->form->getElement('receipt_date_end') ?>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <input type="submit" class="input_b2" name="search" value="Search" />&nbsp;&nbsp;
            <!--input type="submit" class="input_b2" name="csv" value="CSVダウンロード" /-->
            <input type="submit" class="input_b2" name="clear" value="Clear" />
          </td>
        </tr>
      </table>
      </form>

      <!--ページャ-->
      <form name="form1" method="post" action="/manager/receipt/list">
      <?= $this->render('pager.html') ?>
      </form>

      <!--一覧-->
      <table width="100%" border="0" cellpadding="5">
        <tr align="center">
          <td class="color">ID</td>
          <td class="color">Receipt No.</td>
          <td class="color">Receipt Date</td>
          <td class="color">Jumlah Invoice</td>
          <td class="color">Total Invoice (Rp)</td>
          <td class="color">Edit</td>
          <td class="color">Delete</td>
        </tr>
<?php foreach ($this->models as $model) : ?>
        <tr>
          <td align="center"><?= $model['id'] ?></td>
          <td align="left"><?= $model['receipt_no'] ?></td>
          <td align="center"><?= ($model['receipt_date']) ?></td>
          <td align="right"><?= count($model['detail']) ?></td>
          <td align="right"><?= ($model['total']) ?></td>
          <td align="center"><a href="/manager/receipt/edit/id/<?= $model['id'] ?>">Edit</a></td>
          <td align="center">
          <a href="#" onClick="confirmDelete('/manager/receipt/delete/id/<?= $model['id'] ?>');return false;">Delete</a>
          </td>
        </tr>
<?php endforeach ; ?>
      </table>

    </div>
  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
