<?= $this->render('sidemenu/wages.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#wages_date_start").datepicker({dateFormat: 'yy-mm-dd'});
        $("#wages_date_end").datepicker({dateFormat: 'yy-mm-dd'});
        $("#create_date_start").datepicker({dateFormat: 'yy-mm-dd'});
        $("#create_date_end").datepicker({dateFormat: 'yy-mm-dd'});
    });
//-->
</script>
    
<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>

    <!--検索フォーム-->
    <div class="contents_space">
      <form name="form2" method="post" action="/manager/wages/list">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="30%" class="color2">ID</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('id') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Order No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('order_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Wages No.</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('wages_no') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Article</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('article') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Project</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('project') ?>
          </td>
        </tr>
        <tr>
          <td width="30%" class="color2">Type</td>
          <td width="70%" class="color_gray" colspan="3">
            <?= $this->form->getElement('wages_type') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Wages Date</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('wages_date_start') ?> - <?= $this->form->getElement('wages_date_end') ?>※YYYY-MM-DD
          </td>
        </tr>
        <tr>
        <tr>
          <td class="color2">Create Date</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('create_date_start') ?> - <?= $this->form->getElement('create_date_end') ?>※YYYY-MM-DD
          </td>
        </tr>
        <tr>
          <td class="color2">Order By</td>
          <td class="color_gray" colspan="3">
            <?= $this->form->getElement('order_by') ?>
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center">
            <input type="submit" class="input_b2" name="search" value="Search" />&nbsp;&nbsp;
            <input type="submit" class="input_b2" name="clear" value="Clear" />
          </td>
        </tr>
      </table>
      </form>

      <!--ページャ-->
      <form name="form1" method="post" action="/manager/wages/list">
      <?= $this->render('pager.html') ?>
      </form>

      <!--一覧-->
      <table width="100%" border="0" cellpadding="5">
        <tr align="center">
          <td class="color">ID</td>
          <td class="color">Order No.</td>
          <td class="color">Project</td>
          <td class="color">Article</td>
          <td class="color">Total</td>
          <td class="color">Detail</td>
          <td class="color">Delete</td>
        </tr>
<?php foreach ($this->models as $model) : ?>
        <tr>
          <td align="left"><?= $model['id'] ?></td>
          <td align="left"><a href="/manager/order/edit/id/<?=$model['order_id']?>"><?= $model['order']['order_no'] ?></a></td>
          <td align="left"><?= h($model['product']['project']) ?></td>
          <td align="left"><?= $model['product']['article'] ?></td>
          <td align="right"><?= number_format($model['total']) ?></td>
          <td align="center"><a href="/manager/wages/detail/id/<?= $model['id'] ?>">Detail</a></td>
          <td align="center">
                            <?php if(!isset($model['invoice'])) : ?>
          <a href="#" onClick="confirmDelete('/manager/wages/delete/id/<?= $model['id'] ?>');return false;">Delete</a>
							<?php else : ?>
							-
							<?php endif;?>
          </td>
        </tr>
<?php endforeach ; ?>
      </table>

    </div>
  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
