<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex,nofollow" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="copyright" content="CV.CJM" />

<!--ページ値====================-->

<title>CV. Citra Jaya Mandiri | Admin</title>

<!--ページ値====================-->

<link rel="stylesheet" type="text/css" href="/css/manager.css" media="all">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.9.1.css" media="all">
<script src="/js/Widget/Dialog.js" type="text/javascript"></script>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-1.8.2.js"></script>
<script src="/js/jquery-ui-1.9.1.js"></script>

</head>
<body>
<div id="area">
<script>
<!--
function confirmDelete(url) {
    var dialog = new Widget.Dialog;
    dialog.confirm('Delete. Would you like?', {
        width: 250,
        height: 70,
        onOk: function(val) {
            window.location = url;
        }
    });
}
//-->
</script>
<!--ヘッダー-->
  <div id="header">
    <div id="header_l"><a href="/manager"><img src="/images/manager-logo.png" alt="logo" border="0"></a></div>
<?php if ($this->admin) : ?>
    <div id="header_r"><p><a href="/manager">[TOP]</a>|<a href="/manager/logout">[Log Out]</a></p></div>
<?php else : ?>
    <div id="header_r"><p><a href="/manager">[TOP]</a>|<a href="/manager/login">[Log In]</a></p></div>
<?php endif; ?>
    <br class="cl">
  </div>
<!--ヘッダー終-->
<!--メインメニュー-->
<?php if ($this->admin) : ?>
<div id="menu">
  <ul>
    <li><a href="/manager/order/list">Production</a></li>
    <li><a href="/manager/purchase/list">Purchasing</a></li>
    <li><a href="/manager/wages/list">Wages</a></li>
    <li><a href="/manager/invoice/list">Finance</a></li>
    <li><a href="/manager/recap/list">Recapitulation</a></li>
  </ul>
</div>
<?php endif; ?>
<!--メインメニュー終-->
<?= $this->layout()->content ?>
<!--フッター-->
<div id="footer">Copyright &copy; 2013 CV. Citra Jaya Mandiri. All rights reserved</div>
<!--フッター終-->
</div>
</body>
</html>
