<?= $this->render('sidemenu/purchase.html') ?>

<script type="text/javascript" language="javascript">
<!--
    $(function() {
        $("#order_date").datepicker({dateFormat: 'yy-mm-dd'});
        $("#receipt_date").datepicker({dateFormat: 'yy-mm-dd'});
    });
    
    function sum() {
        var i;
        var sum = parseInt(0);
        for( i=1; i<=13; i++ ) {
            sum = sum + parseInt(document.getElementById("size_"+i).value);
        }
        document.getElementById("quantity").value = sum;
        document.getElementById("sub_total").value = sum * document.getElementById("price").value;
        document.getElementById("ppn").value = (sum * document.getElementById("price").value) / 10;
        document.getElementById("total").value = (sum * document.getElementById("price").value) + ((sum * document.getElementById("price").value) / 10);
    }

    function openPopup() {
        window.open("/manager/shoecost-popup/list",null,'width=800, height=500, menubar=no, toolbar=no, scrollbars=yes');
    }
    
    function doDelete() {
      document.form2.action = "/manager/shoecost/create?delete=1";
      document.form2.submit();
    }
    
    function doCheck() {
      document.form2.action = "/manager/shoecost/create?check=1";
      document.form2.submit();
    }
//-->
</script>

<!--コンテンツ-->
<div id="contents">
  <div id="contents_in">

    <div id="contents_title">
            <?= $this->subtitle ?>
    </div>
    <?=$this->tes?>
    <form name="form2" method="post" enctype="multipart/form-data" action="/manager/shoecost/create">
      <table width="100%" border="0" cellpadding="5">
        <tr>
          <td width="40%" class="color2">Product</td>
          <td width="60%" class="color_gray">
            <?= my_mb_error($this->error_str, 'product') ?>
              <table width="100%" border="0" cellpadding="5">
                <tr align="center">
                  <td class="color">Project</td>
                  <td class="color">Article</td>
                  <td class="color">Delete</td>
                </tr>
              <?php if(count($this->product_list)) : ?>
                <tr>
                  <td align="center"><?= h($this->product_list['project']) ?></td>
                  <td align="center"><?= $this->product_list['article'] ?></td>
                  <td align="center"><input type="button" onclick="doDelete();" name="delete" class="input_b1" value="Delete"></td>
                </tr>
              <?php endif; ?>
                <tr>
                  <td align="center" colspan="5">
                    <input type="button" onclick="openPopup();" class="input_b2" value="Choose Product">
                  </td>
                </tr>
              </table>
          </td>
        </tr>
        <tr>
          <td width="40%" class="color2">Order No.</td>
          <td width="60%" class="color_gray">
            <?= my_mb_error($this->error_str, 'order_no') ?>
            <?= $this->form->getElement('order_no') ?>
            <input type="button" onclick="doCheck();" name="check" class="input_b1" value="Check">
          </td>
        </tr>
        <tr>
          <td class="color2">Order Date</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'order_date') ?>
            <?= $this->form->getElement('order_date') ?>※YYYY-MM-DD 
          </td>
        </tr>
        <tr>
          <td class="color2">Receipt Date</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'receipt_date') ?>
            <?= $this->form->getElement('receipt_date') ?>※YYYY-MM-DD 
          </td>
        </tr>
        <tr>
          <td class="color2">Dept.</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'dept') ?>
            <?= $this->form->getElement('dept') ?> 
          </td>
        </tr>        
        <tr>
          <td class="color2">Delivery Week</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'delivery_week') ?>
            <?= $this->form->getElement('delivery_week') ?>※YYYYMM
          </td>
        </tr>
        <tr>
          <td class="color2">Plan</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'plan') ?>
            <?= $this->form->getElement('plan') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Payment Term (month)</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'payment_term') ?>
            <?= $this->form->getElement('payment_term') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Document Status</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'document_flag') ?>
            <?= $this->form->getElement('document_flag') ?> 
          </td>
        </tr>
        <tr>
          <td class="color2">Size<br>-----<br>Pairs</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'pairs') ?>
            <table width="100%" border="0" cellpadding="5">
                <tr align="center">
                    <td class="color">1</td>
                    <td class="color">2</td>
                    <td class="color">3</td>
                    <td class="color">4</td>
                    <td class="color">5</td>
                    <td class="color">6</td>
                    <td class="color">7</td>
                    <td class="color">8</td>
                    <td class="color">9</td>
                    <td class="color">10</td>
                    <td class="color">11</td>
                    <td class="color">12</td>
                    <td class="color">13</td>
                    <!--td class="color">14</td>
                    <td class="color">15</td-->
                </tr>
                <tr align="center">
                    <td><?= $this->form->getElement('size_1') ?></td>
                    <td><?= $this->form->getElement('size_2') ?></td>
                    <td><?= $this->form->getElement('size_3') ?></td>
                    <td><?= $this->form->getElement('size_4') ?></td>
                    <td><?= $this->form->getElement('size_5') ?></td>
                    <td><?= $this->form->getElement('size_6') ?></td>
                    <td><?= $this->form->getElement('size_7') ?></td>
                    <td><?= $this->form->getElement('size_8') ?></td>
                    <td><?= $this->form->getElement('size_9') ?></td>
                    <td><?= $this->form->getElement('size_10') ?></td>
                    <td><?= $this->form->getElement('size_11') ?></td>
                    <td><?= $this->form->getElement('size_12') ?></td>
                    <td><?= $this->form->getElement('size_13') ?></td>
                </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="color2">Quantity (Ps)</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'quantity') ?>
            <?= $this->form->getElement('quantity') ?>※automatic calculation, can't be edited
          </td>
        </tr>
        <tr>
          <td class="color2">Price</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'price') ?>
            <?= $this->form->getElement('price') ?>
          </td>
        </tr>
        <tr>
          <td class="color2">Sub Total (Rp)</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'sub_total') ?>
            <?= $this->form->getElement('sub_total') ?>※automatic calculation, can't be edited
          </td>
        </tr>
        <tr>
          <td class="color2">PPn (Rp)</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'ppn') ?>
            <?= $this->form->getElement('ppn') ?>※automatic calculation, can't be edited
          </td>
        </tr>
        <tr>
          <td class="color2">Total (Rp)</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'total') ?>
            <?= $this->form->getElement('total') ?>※automatic calculation, can't be edited
          </td>
        </tr>
        <tr>
          <td class="color2">Description</td>
          <td class="color_gray">
            <?= my_mb_error($this->error_str, 'description') ?>
            <?= $this->form->getElement('description') ?>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center">
            <input type="button" class="input_b2" value="Back" onClick="javascript:window.location='/manager/<?= $this->class_name ?>/goback-list';" />
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="confirm" class="input_b2" value="Create" /></td>
        </tr>
      </table>
    </form>

  </div>
</div>
<br class="cl">
<!--コンテンツ終-->
