<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>????</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div id="header"></div>

<table id="content">
	<tr>
    	<td>
        	<div id="text1"><h2>????</h2></div>
        </td>
    </tr>
    <tr>
    	<td>
        	<div id="text2">
                ????????? <br />
                ?675-0101 ?????????????232-1 <br />
                TEL:050-5532-3533 FAX:050-5532-3533 <br />
                ???????:?? ??(EC??) <br />
                ???????????:?? ?? <br />
                ?????:onepi-c@shop.rakuten.co.jp<br />
         	</div>
        </td>
    </tr>
</table>

<div id="footer"></div>

</body>
</html>
