<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ご利用方法</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/css/style.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.qblock').hide();
	$("h4").click(function(){
		$(this).next().slideToggle("fast");
		if($("a",this).css("color")=="rgb(132, 85, 48)"||$("a",this).css("color")=="rgb(132, 85, 48)"){
			$("a",this).css("color","#692e00");
		}else{
			$("a",this).css("color","#845530");
		}
	});
});
</script>
<script type="text/javascript" charset="UTF-8" src="/js/main.js"></script>
<script type="text/javascript" charset="UTF-8" src="/js/element_main.js"></script>
</head>
<body>

<div id="header"></div>

<div id = "content" class="faq">
	<h2>よくある質問</h2>
	<div id = "text1">
    	<h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 会員登録したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> ログインページの「サインアップ」ボタンを押してください。次のページに出てきた、必要事項を入力して「完了」ボタンを押します。これで会員登録は完了です。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : アイテムを投稿したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> まずは、会員登録をしてください。そのあと、アプリのTOPページに「アイテム投稿」ボタンがございますので、こちらより投稿をして下さい。既存の写真データでも写真を撮っての投稿も可能です。また、フレーム・フィルターもございますので是非ご利用ください。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 投稿したアイテムを削除したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> マイページ内にご自分の投稿したアイテムの一覧ページを確認する「投稿アイテム一覧」ページがございます。こちらの中から、削除したいアイテムを選択していただきます。右上に「削除」ボタンがございますのでそこから削除を行ってください。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 不正なアイテムを削除して欲しい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> アイテム詳細の左下に三角のアイコン「通報」ボタンがございます。こちらを押すことで管理者に通告できます。即急を要すものは下記のアドレスにご連絡をください。<a href="mailto:info@cawaii.jp">info@cawaii.jp</a></p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 投稿されているアイテムを購入したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> アイテム詳細を見ていただき、「ショップ」から直接サイトで購入していただけます。URLを設定していないものは閲覧不可能ですのでご注意ください。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : アイテムのcawaiiね!を削除したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> 現在アプリにそういった機能は備わっておりません。申し訳ございません。下記のアドレスにご連絡をください。<a href="mailto:info@cawaii.jp">info@cawaii.jp</a></p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 掲示板に投稿した内容を削除したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> 現在アプリにそういった機能は備わっておりません。申し訳ございません。下記のアドレスにご連絡をください。<a href="mailto:info@cawaii.jp">info@cawaii.jp</a></p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 登録情報を変更したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> マイページ内にございます、「プロフィールを確認・変更する」から、ニックネーム・写真をアップロード・生年月日を公開、非公開の選択・コメントの編集をおこなうことができます。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : SNSと連携したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> cawaiiでは、Facebook・twitter・mixiのSNSと連携をしているので、いずれにも同時に写真を投稿することができます。SNSを連携するためには、マイページの「SNS連携」という部分をタップしていただきます。そのあとは、必要な情報を書き込んでいただき連携完了です。</p>
        <h4><a href="javascript:void(0);" style="color: rgb(132, 85, 48); ">Q : 退会したい</a></h4>
		<p style="display: none; " class="qblock"><span>A :</span> iphoneアプリを削除していただく、または、下記のアドレスにご連絡をください。<a href="mailto:info@cawaii.jp">info@cawaii.jp</a><br /></p>
	</div>
</div>

<div id="footer"></div>

</body>
</html>
