<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ご利用方法</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<div id="header"></div>

<table id="content">
	<tr>
    	<td>
        	<div id="text1"><h2>ご利用方法</h2></div>
        </td>
    </tr>
    <tr>
    	<td>
        	<div id="text2">
                CONTENT
         	</div>
        </td>
    </tr>
</table>

<div id="footer"></div>

</body>
</html>
